.body-bg {
  background-color: #f5f9e9;
  font-family: "Orbitron", sans-serif;
}

.navbar {
  background-color: #c2c1a5;
}
.navbar .container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d6d1b1;
}

.navbar-brand svg {
  vertical-align: middle;
}

.navbar-logo {
  display: block;
  margin: 0 auto;
  height: 80px;
  width: auto;
  object-fit: contain;
  padding: 0;
}

.navbar-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
